$font-family: "Open Sans", Helvetica, Arial, sans-serif;
$games-count: 6;
$logo-color: #009ae4;
$logo-width: 75px;
$logo-color-hover: #00aeff;
$game-logo-height: 42px;
$game-item-height: 60px;
$game-item-color: rgba(255, 255, 255, .7);
$game-item-background: #000;
$game-item-hover-color: #fff;
$game-item-font-size: 14px;
$header-height: 60px;
$header-background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .8));
$container-max-width: 1100px;

@import "reset";
@import "mixins";

html, body {
  height: 100%;
}

body {
  min-width: 320px;
  font-family: $font-family;
  background: url("../images/sc2void.jpg") no-repeat;
  background-size: 100%;
  @include on(pad) {
    background-size: cover;
    background-position: center;
  }
}

#sc-void {
  left: 50%;
  bottom: 60px;
  position: absolute;
  width: 680px;
  height: 300px;
  transform: translate(-50%);
  background: url('../images/sc-logo.png') no-repeat;
  background-size: 100%;
  @include on(pad) {
    width: 100%;
    bottom: 5%;
  }
  @include on(phone) {
    max-height: 210px;
  }
}

#logo-blizzard {
  width: 75px;
  height: 32px;
  transition: .2s;
  align-self: center;
  fill: $logo-color;
  &:hover {
    fill: $logo-color-hover;
  }
}

#navbar-trigger {
  top: 18px;
  right: 12px;
  width: 24px;
  height: 24px;
  z-index: 9;
  display: none;
  cursor: pointer;
  position: absolute;
  color: $logo-color;
  transition: .2s;
  &:hover {
    color: $logo-color-hover;
  }
  @include on(pad) {
    display: block;
  }
}

#navbar-icon {
  width: inherit;
  height: inherit;
  fill: currentColor;
  rect { transition: .3s; }
  #navbar-state:checked ~ .header & {
    rect {
      &:nth-child(3) { transform: translateY(-16px); }
      &:nth-child(4) { transform: translateX(16px); }
      &:nth-child(5) { transform: translateY(16px); }
      &:nth-child(8) { transform: translateX(-16px); }
    }
  }
}

#logo-link {
  height: 100%;
  display: flex;
  z-index: 999;
  flex-basis: 120px;
  text-align: center;
  position: relative;
  justify-content: center;
  @include on(pad) {
    margin: auto;
    width: $logo-width;
    height: $header-height;
  }
}

#navbar-state {
  opacity: 0;
  display: none;
}

.header {
  z-index: 99;
  overflow: hidden;
  height: $header-height;
  background: $header-background;
  .container {
    display: flex;
    margin: auto;
    height: 100%;
    position: relative;
    max-width: $container-max-width;
  }
  @include on(pad) {
    @include stretch();
    transition: background .35s linear, height .35s ease-in;
    height: $header-height;
    #navbar-state:checked ~ & {
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .8));
      transition: background .35s linear, height .35s ease-in 200ms;
    }
    .container {
      display: block;
    }
  }
}

.games {
  flex: 1;
  display: flex;
  @include on(pad) {
    display: block;
    @include stretch();
    padding-top: $header-height + 10px;
  }
  .game {
    flex: 1;
    display: flex;
    position: relative;
    transition: background-position .3s;
    @include on(pad) {
      opacity: 0;
      padding: 0 8%;
      height: $game-item-height !important;
      transform: scale(1.1) translateX(-28px);
      transition: opacity .3s ease-out, transform .3s ease-out;
      #navbar-state:checked ~ .header & {
        opacity: 1;
        transform: none;
      }
      &-logo {
        margin-right: 10px;
        transform: scale(1) !important;
      }
      &-name {
        width: auto !important;
        position: static !important; 
        transform: none !important;
      }
      &-link { 
        border-bottom: 1px solid #333;
        justify-content: flex-start !important;
      }
    }
    &-logo {
      transition: .3s;
      transform: scale(1);
      height: $game-logo-height;
    }
    &-name {
      top: 0;
      left: 0;
      width: 100%;
      transition: .2s;
      text-align: center;
      position: absolute;
      transform: scale(0) translateY(100px);
    }
    &:hover {
      .game-logo { transform: scale(.4); }
      .game-name { transform: scale(1.1) translateY(20px); }
    }
    &-link {
      width: 100%;
      display: flex;
      transition: .2s;
      white-space: nowrap;
      align-items: center;
      position: relative;
      justify-content: center;
      height: $header-height;
      color: $game-item-color;
      font-size: $game-item-font-size;
      &:hover {
        color: $game-item-hover-color;
      }
    }
    @include on(pad) {
      @for $i from $games-count through 1 {
        $delay: 50ms + ($games-count - $i) * 50ms;
        &:nth-child(#{$i}) {
          transition-delay: #{$delay}, #{$delay};
        }
      }
      @for $i from 1 through $games-count {
        $delay: 200ms + ($i - 1) * 50ms;
        #navbar-state:checked ~ .header &:nth-child(#{$i}) {
          transition-delay: #{$delay}, #{$delay};
        }
      }
    }
  }
}